# MATLAB / Octave
*.asv
*.mex*
*.mexa64
*.mexw64
*.mexmaci64
*.obj
*.exe
*.pdb
*.dll
*.bin
*.log
*.tmp
*.cache
*.xml
*.mat
*.fig
*.mlappinstall
*.mltbx
*.prj
slprj/
Simulink/
codegen/
export/
*.autosave
*.locksim
*.simulink_autosave
*.mdlautosave
*.slxautosave
*.p
*.mlx
*.m~  

# Build folders
bin/
obj/
build/
debug/
release/

# MacOS / Windows junk
.DS_Store
Thumbs.db
desktop.ini
